.home {
  height: 70vh;
}

.home-img {
  width: 80%;
}

.slider-1 .slider {
  animation: slider-1 20s infinite ease-in-out;
}


@keyframes slider-1 {
  0%,
  20% {
    transform: translateX(0);
  }
  25%,
  45% {
    transform: translateX(-100%);
  }
  50%,
  70% {
    transform: translateX(-200%);
  }
  75%,
  90% {
    transform: translateX(-300%);
  }
  100% {
    transform: translateX(-400%);
  }
}
