<nav class="text-slate-900 dark:text-white flex justify-between items-center pt-6 pb-6 pr-12 pl-12">
  <div>LOGO</div>

  <!-- Barre de navigation quand l'utilisateur est connecté -->
  <% if user_signed_in? %>

    <div class="search">
      <%= form_with url: search_books_path, remote: true, method: :get do %>

        <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5"      stroke="currentColor" class="w-6 h-6 absolute m-2">
          <path stroke-linecap="round" stroke-linejoin="round" d="M21 21l-5.197-5.197m0 0A7.5 7.5 0 105.196 5.196a7.5 7.5 0 0010.607 10.607z" />
        </svg>

        <%= text_field_tag :query,
          params[:query],
          class: "w-96 rounded focus:outline-none focus:ring-0 focus:border-sky-500 border-2 focus:animate-pulse dark:text-slate-900",
          placeholder: "       Rechercher un livre, un auteur ...",
          name: "query"
        %>
      <% end %>
    </div>

    <div class="flex items-center">
      <a class="hover:text-sky-600 dark:hover:text-sky-500 mr-4" href="/dashboard">Mon Tableau de bord</a>
      <a class="hover:text-sky-600 dark:hover:text-sky-500 mr-4" href="#">Mes Bibliothèques</a>
      <a class="hover:text-sky-600 dark:hover:text-sky-500 mr-4" href="#">Mon Profil</a>
      <span class="pt-1"><%= render "shared/darkmode_toggle"%></span>
    </div>
  <% else %>
  <!-- Barre de navigation quand l'utilisateur n'est pas connecté -->
  <div class="flex items-center">
    <a class="hover:text-sky-600 dark:hover:text-sky-500 mr-4" href="/users/sign_up" role="button">S'Enregistrer</a>
    <a class="hover:text-sky-600 dark:hover:text-sky-500 mr-4" href="/users/sign_in" role="button">Se Connecter</a>
    <span class="pt-1"><%= render "shared/darkmode_toggle"%></span>
  </div>
  <% end %>
</nav>
