<div class="container mx-auto flex home">
  <div class="w-4/6 max-h-60">
    <%= image_tag "IllustrationHome.png", class:"home-img"%>
  </div>

  <div class="justify-center text-center">
    <h1 class="text-6xl text-sky-500 text-center font-bold p-8 mt-24">NOMSUPERAPP</h1>
      <div class="slider-container slider-1 max-w-xl overflow-hidden">
        <div class="slider flex">
          <p class="shrink-0 w-full text-center py-8 text-lg text-slate-700 dark:text-slate-200">Envie de <span class="text-slate-900 dark:text-slate-50 font-semibold">Rejoindre</span> le plus grand club de lecture ?</p>
          <p class="shrink-0 w-full text-center py-8 text-lg text-slate-700 dark:text-slate-200">Partage tes lectures avec tes <span class="text-slate-900 dark:text-slate-50  font-semibold">amis</span> !</p>
          <p class="shrink-0 w-full text-center py-8 text-lg text-slate-700 dark:text-slate-200">Découvre quels sont les livres les plus <span class="text-slate-900 dark:text-slate-50  font-semibold">populaires</span> du moment !</p>
          <p class="shrink-0 w-full text-center py-8 text-lg text-slate-700 dark:text-slate-200">Garde un <span class="text-slate-900 dark:text-slate-50 font-semibold">historique</span> de tes lectures !</p>
        </div>
      </div>
      <div>
        <a class="mt-10 bg-sky-400 px-6 py-3 min-w-[160px] rounded-lg hover:cursor-pointer hover:bg-sky-300 inline-block text-center motion-safe:animate-bounce"  href="/users/sign_up" role="button">Rejoindre</a>
      </div>
  </div>

</div>
