<h2>Ma liste d'envie :</h2>
  <% @wish_list.each do |book| %>
    <ul>
      <li>
        <%= link_to book_path(book) do %>
          <%= book.title %>
        <% end %>
      </li>
    </ul>
  <% end %>
